---

name: CI | Test

on:
  push:
    branches: [ main ]
    paths:
      - 'scripts/**'
      - test
      - configuration
      - templates
      - .github/workflows/ci.test.yml
  pull_request:
    branches: [ main ]
    paths:
      - 'scripts/**'
      - test
      - configuration
      - templates
      - .github/workflows/ci.test.yml

jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 10 # this should not take longer thant that (for now)

    container:
      image: ghcr.io/grzegorznowak/cardano-node:1.33.0
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Test the ephemeral devnet
        run: |-
          export PATH="/root/bin:${PATH}"
          export CARDANO_NODE_SOCKET_PATH=private-testnet/node-bft1/node.sock
          test/test_ephemeral_devnet.sh

      - name: Test the persistent devnet
        run: |-
          export PATH="/root/bin:${PATH}"
          export CARDANO_NODE_SOCKET_PATH=private-testnet/node-bft1/node.sock
          test/test_persistent_devnet.sh
