code/dist-newstyle/
keys/
code/Week02/assets/*.tx*
code/Week03/lucid/node_modules/
code/Week03/lucid/dist/
code/Week03/lucid-ref-script/node_modules/
code/Week03/lucid-ref-script/dist/
code/Week05/lecture/secret.ts