<mat-card class="header">
  <h2>Wallet {{ wallet.walletName }}</h2>
</mat-card>
<div *ngFor="let token of wallet.tokens">
  <mat-card *ngIf="token.tokenName; else adaValue">
    <p>TokenName: {{ token.tokenName }}</p>
    <p>Currency Symbol: {{ token.currencySymbol }}</p>
    <p>Ammount: {{ token.ammount | number }}</p>
  </mat-card>
  <ng-template #adaValue>
    <mat-card>
      <p>ADA (Lovelace)</p>
      <p>Ammount: {{ token.ammount | number }}</p>
    </mat-card>
  </ng-template>
</div>
<mat-card class="form">
    <button mat-stroked-button (click)="retrieve()">Retrieve</button>
    <button mat-stroked-button (click)="use()">Use</button>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Offer Lovelaces</mat-label>
      <input autocomplete="off" matInput type="number" #offerInput />
      <button
        *ngIf="offerInput.value"
        matSuffix
        mat-stroked-button
        (click)="offer(+offerInput.value)"
      >
        Offer
      </button>
    </mat-form-field>
</mat-card>

